/** general definitions */
div.row{
    background-color: #fafbfc;
}

/** map */
#mainmap {
    background-color: #fafbfc;
    width: 100%;
}
.mm-col{
    padding-right: 0;
    padding-left: 0;;
}

/** Menu bar */
.menu-bar{
    display: inline-flex;
    background-color: #24292e;
    height: 55px;
    color: white;
    padding: calc(0.6%);
}
.mb-row{
    padding: 0px !important;
}
.btn-group{
    margin-left: auto;
    height: fit-content;
    right: 5px;
    border-radius: 4px !important;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.dropdown-menu.show{
    z-index: 99999;
    cursor: pointer;
}
.main-txt-menu-bar{
    margin-top: auto;
}
/** Detail bar */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #24292e !important;
    color: #fafbfc;
    width: 100%;
    text-align: center;
    font-size: x-small;
}

/** filter - modal window */
.username, .usertypename, .countyname, .proximity{
    width: 250px;
    height: 32px;
    display: inline-block;
    padding-top: 0px;
}
.lbl-proximity{
    margin-right: 4px;
}
.ftext{
    display: inline-flex;
    align-items: center;
}
#btn-filters{
    display: none;
}
.modal-dialog{
    max-width: calc(65%);
    max-height: calc(95%);
}

/** custom image path */
.leaflet-control-layers-toggle{background-image:url(/map/imgs/layers.png);}

/** general alert info */
#general-notes{
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
}
#general-info{
    display: none;
    width: 40%;
    position: absolute;
    left: calc(25%);
    top: 65px;
    height: 35px;
    align-items: center;
    z-index: 999999999;
}